[2014-07-28 05:51] SimonCropp opened #1 "sanitise property names"
eg PropertySagaFinder`2::get_MessageProperty()

[2014-07-28 05:53] SimonCropp opened #2 "Dont include interface method parameter changes"
transitioning interfaces is problematic. as u know u cant obsolete members on them since people would still need to implement the obsolete members. so for example `IMutateOutgoingTransportMessages::MutateOutgoing(System.Object[],TransportMessage)` is now `IMutateOutgoingTransportMessages::MutateOutgoing(LogicalMessage,TransportMessage)`
So would it be better to exclude interface methods if there i

[2014-07-28 05:54] SimonCropp opened #3 "Skip members with EditorBrowsable"
in v4 `ApplyIncomingTransportMessageMutatorsBehavior` was marked as `[EditorBrowsable(EditorBrowsableState.Never)]`. that was our convention for "public but not really" so it should not be included as missing https://github.com/Particular/NServiceBus/blob/master/src/NServiceBus.Core/MessageMutator/ApplyIncomingTransportMessageMutatorsBehavior.cs

[2014-07-28 06:03] SimonCropp opened #4 "dont include members of a class marked as obsolete"
So if a class is listed as obsolete in the new api dont include it
eg
https://github.com/Particular/NServiceBus/blob/5.0.0-beta2/src/NServiceBus.Core/Obsoletes.cs#L243

[code]

The reason is that the member have been explicitly excluded since it is sufficient to get the compiler error for the type

[2014-07-28 06:04] SimonCropp opened #5 "dont inlclude anon types"
eg `<>f__AnonymousType2`

[2014-07-30 07:16] #1 closed, assigned to nobody

[2014-07-30 07:16] #3 closed, assigned to nobody

[2014-07-30 07:16] #4 closed, assigned to nobody

[2014-07-30 07:17] #5 closed, assigned to nobody

[2014-07-31 02:37] #2 closed, assigned to nobody

[2014-08-08 07:28] distantcam opened #6 "Include obsolete items in the new api"
For items that become obsolete in the new api we should include those in the list.

[2015-03-03 07:24] andreasohlund commented on #6
Pretty sure this is done

[2015-03-03 07:24] #6 closed

[2015-03-03 07:24] andreasohlund opened #7 "Include obsolete as error as a breaking change"

[2015-03-03 08:02] andreasohlund opened #8 "Url conventions"
The plan is to build and release a basic comparison page based on a url convention

### Url rules
* `/Compare/NServiceBus/4.7.7...5.2.0`
* `/Compare/NServiceBus/4.7...5.2` - Compare max(4.7) vs max (5.2) from a semver perspective.
* `/Compare/NServiceBus/4...5` - Compare max(4) vs max (5) from a semver perspective
* `/Compare/NServiceBus/`   -  compare the 2 latest stable versions from nuget.org

[2015-03-03 09:13] andreasohlund commented on #8
@ParticularLabs/apicomparer please comment

[2015-03-03 16:22] SeanFeldman commented on #8
A few suggestions

1. To use GTM instead of GA. GTM is already used for [particular.net](http://particular.net) site [here](https://www.google.com/tagmanager/web/#management/Containers/a30559134c0/)
2. Results can be shared between instances of azure web site by simply keeping files within web root. Webjobs have full access to those files as well.

[2015-03-04 12:36] andreasohlund opened #9 "Reliably detect the root build dir to create links"
Right now we hardcoded to 4 which works on the buildserver but my machine needs 3 since the code is in c://dev

https://github.com/ParticularLabs/APIComparer/blob/master/APIComparer.Core/APIUpgradeToMarkdownFormatter.cs#L303

How can we make this work across the board?

@SimonCropp this is the bug we talked about yesterday

[2015-03-07 12:39] danielmarbach commented on #8
I'm currently setting up the website and webjob

[2015-03-07 20:48] danielmarbach commented on #8
Was a bit trickier than I fought to get the proposed URI format working. Now it is running. What about the following URI format?

`compare/NServiceBus/4.7/to/5.2`

would be better readable I think

[2015-03-07 22:00] danielmarbach commented on #8
@SimonCropp  I see that you have been using Nancy and Handlebars in the docs web. Should I remove the website branch and restart with that technology stack?

[2015-03-07 22:02] danielmarbach commented on #8
A few more ideas:
- Put files onto CDN
- Controller checks according to convention for file existence and renders that. Only if not present it sends the command. Otherwise the file will be streamed of the CDN.

[2015-03-07 23:14] SimonCropp commented on #8
The problem with compare/NServiceBus/4.7/to/5.2. Is that it kind of implies compare/NServiceBus/4.7/to/ is also a resource.

[2015-03-07 23:21] SimonCropp commented on #8
As for nancy vs mvc. I have worked on a few project using each and i have always found nancy to have less friction, easier to extend and generaly fewer yaks.

That is unless someone is 100% sold on moving to mvc vnext... .

[2015-03-07 23:35] SimonCropp commented on #8
As for view engine. When i built the docs site i wanted the most github compatible markdown rendering engine. I considered engines written in various languages. The result, at that time, was marked js. So to get that to work i had to solve the problem of communication between .net and js. With that problem  solved, when considering rendering engines, i also looked through js engines. Hence settlin

[2015-03-07 23:36] SimonCropp commented on #8
As for cdn. There will only be siginficant improvements with a cdn if we can avoid the double hop of the website hacing to check for existence before returning the url

[2015-03-09 08:17] andreasohlund commented on #8
I'm +1 for Nancy, unless we see value in switching to asp.net 5? (is that
to early?)

On Sun, Mar 8, 2015 at 12:36 AM, Simon Cropp <notifications@github.com>
wrote:

[2015-03-09 09:01] danielmarbach commented on #8
@andreasohlund I’ll change that. Now I got a better understanding where we are heading too. So I’ll close this branch and restart with nancy

[2015-03-12 22:52] danielmarbach commented on #8
@andreasohlund and @SimonCropp I talked to @SeanFeldman today and he helped me out to get the website running. He would be very motivated to help out. We need to make sure to include him as well!

[2015-03-13 05:25] SeanFeldman commented on #8
Connected with @brittking to get GTM going

[2015-03-13 10:27] andreasohlund commented on #8
There is a @ParticularLabs/apicomparer team that contains interested people so please ping that team to make sure all relevant people can chime in

[2015-03-13 10:31] andreasohlund opened #12 "Get the continous deployment pipeline setup"
Proposed plan of attack:

1. Make the buildserver run octopack
2. Autodeploy to a -test environment on each commit to master
3. Promote to live via the octopus UI

Seems like the this is the best instructions I've found so far:

http://octopusdeploy.com/blog/deploy-aspnet-applications-to-azure-websites

other ideas/comments?

cc @ParticularLabs/apicomparer

[2015-03-13 11:54] SeanFeldman commented on #12
+1 for test slot. We'll need to switch website to standard tear to have slots available. It would also allow Production Testing (slot routing) aka A/B testing.

[2015-03-15 15:35] andreasohlund commented on #12
Some progress. Got the Octopus package created now and working on setting up the auto deploy to test

[2015-03-15 18:04] danielmarbach commented on #12
Yeah!

[2015-03-15 19:38] andreasohlund commented on #12
This is now done. Each commit is now deployed to test.

 Added a brief readme : https://github.com/ParticularLabs/APIComparer/blob/master/README.md

[2015-03-15 19:38] #12 closed

[2015-03-17 03:48] SeanFeldman opened #13 "Production and test environments"
We should look into production and test slots rather than running 2 different websites.

**Plan of attack**
- [x] Create a resource group
 - [x] Add geo-redundant storage
 - [x] Add a standard web hosting site
  -[x] add test slot (`Production` is default)
   - [x] add sticky settings to each slot (connection strings)

[2015-03-17 03:55] SeanFeldman commented on #13
In addition to that, we should have group storage account and website under resource group so that it would be easier to manage it

[2015-03-17 07:34] andreasohlund commented on #13
Can you still have separate configs for each slot? (eg use different storage accounts)

[2015-03-17 13:47] SeanFeldman commented on #13
Absolutely @andreasohlund
You can instruct what settings stick to a slot.

[2015-03-17 20:01] andreasohlund commented on #13
Cool, lets go ahead with this then. We need to modify octopus to do a slot swap instead when promoting to live

[2015-03-21 16:56] SeanFeldman commented on #13
Added plan of attack. Deployment with slots is slightly different from the deployment strategy we're today, so we'd need to decide how we'll go about swap (or promoting to production).

[2015-03-22 06:48] andreasohlund commented on #13
Looks good.

In short: auto deploy each commit to the test slot

On promote in octopus do a swap btw test and live slots

Question: since that would make the test slot stale should we modify the promote to use some kind of staging slot to leave test untouched?

[2015-03-22 15:39] SeanFeldman commented on #13
Slots only available with paid options and we can have as many as 5 for lowest paid Standard tear.
How about having `-preview`, `-staging`, and regular `production` slots.
- `-preview` would get updated on every commit to master just like today.
- `-staging` would be used for staging, as intended, and allow to rollback if needed. This will address staleness since `-staging` is designated to be an

[2015-03-22 16:03] SeanFeldman commented on #13
@andreasohlund
have create resource group `API-Comparer` under production subscription that contains website and storage. New setup should be done on the resource group.
![image](https://cloud.githubusercontent.com/assets/1309622/6770077/716405a8-d07a-11e4-8c9b-670c6b8e3f33.png)

[2015-03-23 07:14] andreasohlund commented on #13
I like the 3 slot approach. Should we use "Test" or "Preview" for the
always updated one?

On Sun, Mar 22, 2015 at 5:03 PM, Sean Feldman <notifications@github.com>
wrote:

[2015-03-26 02:25] SeanFeldman commented on #9
@andreasohlund is this relevant anymore?

[2015-03-26 02:28] SeanFeldman opened #16 "GTM for apicomparer.particular.net"
Setup GTM container for [apicomparer.particular.net](apicomparer.particular.net) to track visitation and usage.

[2015-03-26 02:29] SeanFeldman commented on #16
@brittking could you please help with this? I only have `view` permission.

[2015-03-26 10:15] andreasohlund commented on #9
I think we have to go with manually configured roots for links so lets close this one.

Should we remove the links from the webpage until we have a way of generating them?

[2015-03-26 10:15] #9 closed

[2015-03-26 20:06] andreasohlund opened #17 "Detect and handle source only packages better"
Eg: http://apicomparer-preview.particular.net/compare/liblog/3.0.0...3.1.0

[code]

[2015-03-27 12:12] andreasohlund opened #18 "Format the compare page to have sections"
Add the following section in order of appernance

1. Breaking changes
2. Obsoletes with warning
3. Added types (non breaking changes)

[2015-03-27 12:15] andreasohlund opened #19 "Report bad nuget names and version back to the user"
When detecting a nuget or version that doesn't exist write that to the response file so that the user gets notified

Eg:
http://apicomparer-preview.particular.net/compare/rabbitmq.cliendasdasdast/3.4.3...3.5.0

[2015-03-27 12:22] andreasohlund opened #20 "Preserve the comparision files between redeploys"
By moving it from `/home/wwwroot` to `/home`

[2015-03-27 13:57] SeanFeldman opened #21 "Use SC for production"
With ASQ it is not possible to peek into more than 32 messages. When failed/audit queue has more than 32 messages, those won't be reachable. In addition to that, ASQ messages are BASE64 encoded, so reading those w/o SC or custom tool is very paiful. SC allows to overcome this limit and review/re-process failed messages.

Suggestion - use SC for production.

[2015-03-30 17:27] SeanFeldman opened #22 "Write logs outside of WebApp"
Into %home%\LogFiles that is used for all other logs by Azure

[2015-03-30 17:31] SeanFeldman opened #23 "Add ability to provide nuget .NET framework `target` through request URL"
So request for a default would be .NET 4.0 (we could append this ourselves)
[code]
but an overridde would look like
[code]
or
[code]

[2015-04-01 03:06] SeanFeldman commented on #22
@andreasohlund after reviewing this, I'm questioning the traditional approach of writing a file. Anything written to Trace is captured by azure website/webjob. We can enable writing that into storage table. A new log file is created every hour (default setting).

Sample of captured blob (log file):
[code]
Content of file is:
[code]

Alternatively, we could capture this into storage table, but that

[2015-04-01 03:14] SeanFeldman opened #24 "Vault webjob"
## What
Create a webjob that will backup a newly created comparison file to "vault" storage blob.

## Why
Once comparison for a nuget for a given pair of version + target is created, there's really no need to create it again. In case production goes through disaster recovery, we could bring all already created comparison results and save on reproducing those. This could also help us scale geograph

[2015-04-01 03:14] SeanFeldman commented on #24
@ParticularLabs/apicomparer folks what do you think?

[2015-04-01 06:05] danielmarbach commented on #24
I'd say backlog and add when necessary.

[2015-04-01 06:17] andreasohlund commented on #22
You're the expert! :)

On Wed, Apr 1, 2015 at 5:06 AM, Sean Feldman <notifications@github.com>
wrote:

[2015-04-01 08:34] andreasohlund commented on #24
+1 for backlog

On Wed, Apr 1, 2015 at 8:05 AM, Daniel Marbach <notifications@github.com>
wrote:

[2015-04-10 04:48] SeanFeldman commented on #23
There's an edge case where leftVersion targets one version and rightVersion targets another version.
Example: `NServiceBus.Azure` 5.0.0 targets `net40` when `NServiceBus.Azure` 5.0.0 targets `net45`.

[2015-04-10 05:38] SeanFeldman commented on #23
@ParticularLabs/apicomparer any idea how to instruct NancyFX to allow an optional module parameter that can contain the following `portable-net40+sl5+wp80+win8+wpa81`? It looks like nancy doesn't like the plus sign.

[2015-04-10 05:42] danielmarbach commented on #23
Greedy regex route at the end?

[2015-04-10 06:04] SeanFeldman commented on #23
Not using regex there

[2015-04-10 14:26] philippdolder opened #26 "Comparison doesn't show differences"
When comparing http://apicomparer-preview.particular.net/Compare/Appccelerate.EventBroker/2.0.84...3.15.0 the new type `Internals.Subscriptions.NoArgumentsDelegateWrapper` isn't showing up.

[2015-04-10 14:55] danielmarbach opened #27 "Ability to specify the package source"
Discussed with @adamralph it would be cool to be able to specify the package source. I think we could restrict ourself to only public sources like Nuget and MyGet.

How would the URI schema look like? @SeanFeldman and I agree that we need to go back to the drawing board to also solve #23

[2015-04-10 15:02] adamralph commented on #27
This would be awesome. The use case is comparing the current release to the current pre-release in myget.

I like the way the comparisons are addressable, but I guess it could get quite messy if you had to have an encoded URL in the URL :stuck_out_tongue_closed_eyes:

I guess one way is to have defined aliases,

e.g. 'nuget' => nuget gallery feed URL, 'myget/myfeed' = myget root URL/myfeed

but it

[2015-04-10 15:07] danielmarbach commented on #27
@adamralph as soon as we need package feed authentication it gets complicated pretty quickly. I think we need to start small

[2015-04-10 15:08] SeanFeldman commented on #27
+1 for this info @adamralph
Any package requirement can get tricky - private feeds would require authentication.
What we need (discussed with @danielmarbach) is to define what APIComparer will or will not provide.

[2015-04-10 15:15] adamralph commented on #27
Yeah, agreed. No point trying to solve the world straight away. A specific scheme to just support myget would be good initial enhancement.

[2015-04-11 18:59] SeanFeldman commented on #26
@philippdolder I see the following

_The following types have differences._

Are you expecting a different result?

[2015-04-13 05:34] philippdolder commented on #26
for the 3.1.0 to 3.15.0 comparison I would somehow expect ApiComparer to tell me it didn't find any differences. In that case the message maybe is just a bit confusing to me.

for the 2.0.84 to 3.15.0 comparison I would expect it to tell me that 3.15.0 is no longer compatible with .NET 4.0. And to tell me that there is a new type ```Internals.Subscriptions.NoArgumentsDelegateWrapper```
Not sure if

[2015-04-14 12:51] ursenzler commented on #23
What when left version is built using a different .Net version/platform than right version?

[2015-04-14 13:01] danielmarbach commented on #23
We discussed that comparing different .NET version doesn't make sense. Can you convince us otherwise?

[2015-04-14 14:22] andreasohlund commented on #26
Regarding http://apicomparer-preview.particular.net/Compare/Appccelerate.EventBroker/3.1.0...3.15.0 this is definitely a bug. We should show "No differences"

Regarding http://apicomparer-preview.particular.net/Compare/Appccelerate.EventBroker/2.0.84...3.15.0

1. Yes I think it makes sense that we show a breaking change in that there is no longer a .Net4.0 compatible version, @SimonCropp ?
2. Rega

[2015-04-14 14:53] philippdolder commented on #26
2. yes ```Internals.Subscriptions.NoArgumentsDelegateWrapper``` is public (https://github.com/appccelerate/eventbroker/blob/master/source/Appccelerate.EventBroker/Internals/Subscriptions/NoArgumentsDelegateWrapper.cs)

[2015-04-14 15:25] andreasohlund commented on #26
Ok, looks like a bug as well then!

On Tue, Apr 14, 2015 at 4:53 PM, Philipp Dolder <notifications@github.com>
wrote:

[2015-04-14 15:40] andreasohlund commented on #27
Side note: this already works for the CLI which is very handy when you want to check your pull/feature branch for diffs against latest build:

https://github.com/ParticularLabs/APIComparer/blob/master/APIComparer/Program.cs#L18

[2015-04-14 15:42] danielmarbach commented on #27
Yeah but the API is the new console and the API doesn’t support it

[2015-04-14 15:44] andreasohlund commented on #27
I said it was a side note :)

[2015-04-15 21:33] danielmarbach commented on #23
We discussed this today. We came to the following conclusion:

We compare nuget packages. So removing a target framework or changing a target framework can be considered as a breaking change in certain scenarios. We will be using the following algorithm

1. Download the nuget package
1. For every target on the leftVersion side we will compare against the matching target on the rightVersion side
1.

[2015-04-15 21:35] andreasohlund commented on #26
@philippdolder we'll change our comparisons to include all targets at all times including detecting changes in required targets and that should adress http://apicomparer-preview.particular.net/Compare/Appccelerate.EventBroker/2.0.84...3.15.0

I'll change the description of this bug to focus on the NoArgumentsDelegateWrapper not showing up

[2015-04-15 21:38] danielmarbach opened #28 "Comparing between .NET framework targets"
We discussed this today #23. We came to the following conclusion:

We compare nuget packages. So removing a target framework or changing a target framework can be considered as a breaking change in certain scenarios. We will be using the following algorithm

1. Download the nuget package
1. For every target on the `leftVersion` side we will compare against the matching target on the `rightVersion`

[2015-04-15 21:41] andreasohlund opened #29 "Add support for promote to "Live" in octopus"
When promoting to "Live"

- [x] Deploy to the staging slot
- [x] Create staging storage account and adjust setting
- [x] Add a octopus manual verification step that after approval will swap staging and production slots

[2015-04-15 21:42] #13 closed

[2015-04-15 21:50] #17 closed

[2015-04-15 21:55] danielmarbach commented on #28
@ursenzler @philippdolder thoughts and additions from your side?

[2015-04-15 23:10] SimonCropp opened #30 "Use roslyn for source packages"
extracted from https://github.com/ParticularLabs/APIComparer/pull/25

This is placeholder for a future version. we wont be doing this in the short term

[2015-04-16 01:05] #23 closed

[2015-04-16 05:10] philippdolder commented on #28
@danielmarbach looks good to me

[2015-04-16 05:12] philippdolder commented on #26
@andreasohlund should I open an issue for the "The following types have differences." instead of just showing something similar to "No differences." as well?

[2015-04-16 08:52] andreasohlund commented on #26
Please do!

On Thu, Apr 16, 2015 at 7:12 AM, Philipp Dolder <notifications@github.com>
wrote:

[2015-04-16 11:51] andreasohlund opened #31 "Link changes to the source file on GitHub"
To provide links to the source of a particular change we need to know the root url for the specific file.

The idea is to look for a `APIComparerRootUrl`property in the nuspec file and use that to generate the links.

Example: `https://github.com/Particular/NServiceBus/blob/5.1.3/`

Since Cecil will give us the full path to the source file where it was built we need to do the following:

1. Query

[2015-04-16 11:51] andreasohlund commented on #31
@SimonCropp does the reflect the discussion we had?

[2015-04-16 12:08] ursenzler commented on #28
Yes that would allow to compare versions with a .Net upgrade inbetween, e.g. leftVersion was built against 3.5 and rightVersion against 4.5. Which I consider a frequent case.

[2015-04-16 17:34] SeanFeldman commented on #29
Done. Can be promoted to production using Octopus.

[2015-04-16 17:34] #29 closed

[2015-04-16 17:42] SeanFeldman commented on #16
@brittking - would be good to have someone from marketing review GTM for this project and decide if we want to configure GTM is a different way or leave as is.

[2015-04-17 02:16] SeanFeldman opened #32 "Connect GTM to Particular GA"
Related to #16
@brittking to decide on details.

[2015-04-17 02:16] SeanFeldman commented on #16
Done. Currently only runs Azure analytics tag

[2015-04-17 02:16] #16 closed

[2015-04-20 10:09] philippdolder opened #34 "Misleading result message when no differences found"
When comparing http://apicomparer-preview.particular.net/Compare/Appccelerate.EventBroker/3.1.0...3.15.0

It shows `The following types have differences.`
instead of somethign like `No differences found.`

[2015-04-20 11:34] andreasohlund commented on #28
I'll take a stab at this one

[2015-04-24 12:01] #28 closed

[2015-04-24 12:07] andreasohlund commented on #28
@philippdolder http://apicomparer-preview.particular.net/Compare/Appccelerate.EventBroker/2.0.84...3.15.0 now shows the targets better, can you take a quick look?

Still need to figure out why the new type doesn't show as you mention in #34

[2015-04-24 12:44] philippdolder commented on #28
@andreasohlund looks good

[2015-04-26 09:06] adamralph opened #37 "Ability to compare 2 packages, not just 2 versions"
OK, here's a curve ball... :wink:

Following the pattern of `xunit` 2.0, `Xbehave` 2.0 is now a meta-package containing nothing but a dependency on `Xbehave.Core` and `xunit`, where `Xbehave.Core` is the package containing the actual assemblies. The reason for this is that `xunit` is a meta-package containing deps on `xunit.core` and `xunit.assert`, allowing users to install just `xunit.core` when

[2015-04-26 09:20] andreasohlund commented on #37
We have similar needs since nsb.interfaces and nsb.core v4 is replaced by nsb.core only in v5

[2015-04-26 09:22] SimonCropp commented on #37
yeah when i created this http://docs.particular.net/nservicebus/upgrades/4to5diff i fudged it.

bottom line is we need metadata in the nuget to achieve this

[2015-04-26 18:12] adamralph commented on #37
Ah, great. So not such an edge case then...

[2015-04-27 19:29] andreasohlund commented on #26
@SimonCropp just double checking: In this case there was a new type added in the right version. Since that's isn't a change that could affect a upgrade I'm pretty sure we don't show it?

In short: I think this one is "by design"

Should we consider showing the new types? (not sure how valuable that would be though)

[2015-04-27 22:18] SimonCropp commented on #26
@andreasohlund pretty sure api comparer used to show new apis?

[2015-04-28 08:38] andreasohlund commented on #26
Ok, I'll investigate

On Tue, Apr 28, 2015 at 12:18 AM, Simon Cropp <notifications@github.com>
wrote:

[2015-04-30 20:22] SeanFeldman opened #39 "Allow comparison based on user uploaded packages.config"
When someone wants to upgrade their project, they will evaluate most if not all packages. Save the hassle of typing names and versions by simply processing user-provided package.config file(s).

[2015-05-04 09:18] andreasohlund commented on #32
@SeanFeldman what's left to do?

[2015-05-04 09:23] andreasohlund opened #42 "Create a basic landing page"
With textboxes for nuget, leftversion, rightversion

[2015-05-12 02:13] SeanFeldman commented on #32
connect GTM to Google Analytics. Was hoping @brittking to provide his feedback first.

[2015-07-18 20:43] andreasohlund opened #43 "Consitent error handling"
As part of doing #41 the question of error handling came up. In this case if the user is providing a bad nuget id on the url we just `throw new Exception`. How should we play this?

Seems like a combo of custom exception like mentioned here

http://bytefish.de/blog/consistent_error_handling_with_nancy/

Combined with how octopus is doing their custom error pages? http://paulstovell.com/blog/consis

[2015-07-23 20:38] #8 closed

[2015-07-24 12:16] andreasohlund commented on #42
@timbussmann would you be interested to apply some of your magic web skills on this one? :)

[2015-07-24 12:17] andreasohlund commented on #39
and also project.json files?

[2015-07-24 12:22] andreasohlund commented on #18
Should we go with some tabs ala http://designscrazed.org/html5-css3-accordion-tabs/ ?

[2015-07-25 16:28] timbussmann commented on #42
absolutely! Let's talk about it next week :)

[2015-08-19 13:13] andreasohlund opened #45 "Diffs always show the obsoletes"
We should only show them if they actually have been added by the `Right` version

Eg:

Correct

http://apicomparer.particular.net/compare/nservicebus.ninject/4.7.6...5.1.0

Wrong

http://apicomparer.particular.net/compare/nservicebus.ninject/5.0.0...5.1.0

[2015-08-19 19:45] #26 closed

[2015-08-24 15:10] richorama opened #46 "Add an API to retrieve diff results in JSON format"
An API supporting diff results as JSON would be very useful.

I'm planning on using this to support version comparison on http://nugot.net

It would also be useful if CORS/JSONP was supported, allowing me to retrieve the diff directly from the browser.

[2015-08-24 18:22] andreasohlund commented on #46
On think to note is that pulling down the nugets and creating the diff can take a few seconds the first time. The current site is polling until it gets the data. Should we consider:

1. A similar API approach where we hand back the "result" url (claim check pattern) and have the consumer call it until they get a `200` back
2. Make the api call block until results are available
3. Other option?

Th

[2015-08-24 18:26] richorama commented on #46
I'd be happy for it just to block until the result is complete.

[2015-08-24 18:32] danielmarbach commented on #46
Blocking is so oldschool ;)

[2015-08-24 18:39] richorama commented on #46
...another option is the client registers a webhook, which you call upon completion.

I prefer a simple blocking HTTP call, it's not like you're keeping the client waiting that long (and it's all done async using ajax anyway), everything else adds complexity, especially when you scale to multiple web servers.

[2015-08-25 08:21] andreasohlund commented on #46
Agree with @richorama , lets go simple first?

[2015-08-25 12:39] danielmarbach commented on #46
What defines simplicity? Is it from the implementation or usage perspective? As far as implementing having an HTTP endpoint for the command and a relocate to a query endpoint I wouldn't consider it complex implementation-wise. From a usage perspective it is, yes.

http://highscalability.com/blog/2015/8/24/ask-highscalability-choose-an-async-app-server-or-multiple-b.html

Currently not an issue but

[2015-08-25 13:28] richorama commented on #46
I'll clarify my position. From the perspective of the consumer (I think) it's easier to have a single http get to retrieve the results, which are returned on the response to that single request.

From an implementation perspective I would suggest you use async & await, and don't block a thread, but that's an implementation detail (or optimisation).

This has the advantage that http responses are e

[2015-08-26 08:21] andreasohlund commented on #46
I do see your point @danielmarbach

How about we do this.

### Case 1 - Results already available

Since we cache the generated diffs we can just send them back right away with a `200` if possible

### Case 2 -  No comparison available

If the `packageid`, `leftversion`, `rightversion`  combination haven't been diffed before we (sort of what we already do for th html page)

1. Send of a internal "

[2015-09-04 15:25] andreasohlund opened #47 "Comparing LibGit2Sharp blows with "Format of the executable (.exe) or library (.dll) is invalid.""
To repro just execute

http://localhost:2321/compare/LibGit2Sharp/0.20.1...0.20.2

causes Mono.Cecil to blow with mentioned ex.

[2015-09-04 15:25] andreasohlund commented on #47
cc @SimonCropp @nulltoken

[2015-09-04 16:53] nulltoken commented on #47
@andreasohlund :heart: for having taken a look at this.

Most certainly due to trying to load one of the native binaries as a managed one.

A `try/catch (BadImageFormatException e)` should work around this. FWIW, this is the way it's been **[solved](https://github.com/scriptcs/scriptcs/pull/250/files#diff-495af50f3c53e3464687ee27ac2308fdR94)** by the scriptcs project

[2015-09-04 17:25] nulltoken commented on #46
:+1: Although returning `202` for a `GET`, the "come back later" approach makes a lot a sense.

One thing that may also be added on top of it would be headers preventing any kind of caching for `202` responses, and a different one for `200` which would allow a long lasting caching at any downstream level of the response (provided, of course, the comparison has been successful. Wouldn't that be the

[2015-09-04 18:45] nulltoken commented on #47
Unless someone beats me to it, I'll try to send a PR tomorrow. Cool with you?

[2015-09-04 19:03] andreasohlund commented on #46
Agreed, good points regarding the caching.

Side note: we actually render the results as html and stores it so its
cheap to return them again. We would do the same for json responses I
imagine.

On Fri, Sep 4, 2015 at 7:25 PM, nulltoken <notifications@github.com> wrote:

[2015-09-04 19:04] andreasohlund commented on #47
That would be awesome. One way to integration test this would be to add a
similar test to

On Fri, Sep 4, 2015 at 8:45 PM, nulltoken <notifications@github.com> wrote:

[2015-09-04 19:06] andreasohlund commented on #47
We have some code in NServiceBus to exclude non .net asm that could be used as inspiration :)

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Hosting/Helpers/AssemblyScanner.cs#L171

[2015-09-05 14:02] #47 closed

[2015-09-14 20:01] SeanFeldman opened #50 "Add support for line highlighting similar to GH"
An [awesome example](https://groups.google.com/forum/#!topic/particularsoftware/KENCMLVo3so) where @andreasohlund used APIComparer to highlight a breaking change in nuget dependency.
Would be nice to be able to point to a specific line (method/property) similar to what GH is doing([example](https://github.com/Particular/NServiceBus/blob/master/src%2FNServiceBus.Core%2FOutbox%2FOutboxDeduplicationB

[2015-09-15 09:35] devlead opened #51 "APIComparer Console as NuGet package?"
Just stumbled upon this project on the twitters and it looks really useful :+1:

Would like to run something like this on build servers as part of their build scripts, is there an existing / planned NuGet package for the Console today?

[2015-09-15 09:37] andreasohlund commented on #51
Not at this stage, I actually have some plans to

1. Run it on the buildserver
2. Include the report in the artifacts (we're on TeamCity)
3. Make a ping back to the gihub status api to make sure the link to it included in the "checks" section of each pull request

Let me know if you want to take a stab at it!

[2015-09-15 09:39] andreasohlund commented on #51
Side note: We use apiapprover for most of our projects so any changes to the public api is visible in pull requests if you know what to look for

https://github.com/JakeGinnivan/ApiApprover

Example:

https://github.com/Particular/NServiceBus/pull/2890/files#diff-1eb180a4f6d35cd0c53fde55c1a077b3

[2015-09-15 09:46] devlead commented on #51
Interesting, I'm one of the maintainers behind @cake-build , see this could be an great potential add-in or tool for us.

I see great benefit for a tool like this, thanks for your time, tips & info :+1:

[2015-10-08 08:29] #45 closed

[2015-10-09 09:44] andreasohlund opened #52 "Sort breaking changes on top"
Given the new layout

http://apicomparer-preview.particular.net/compare/nservicebus/5.1.3...5.2.7

where we show the obsoletes inline I think it would be better to sort on breaking changes and display them first? ( `PersistenceExtentions` in the above example)

Or even have a separate section for them?

[2015-10-09 13:05] andreasohlund commented on #52
Here is another example where it would be better to hightlight the breaking changes

http://apicomparer.particular.net/compare/EntityFramework/6.0.0...6.1.3

and yes EF didn't follow semver here :)

[2015-10-14 21:17] SeanFeldman opened #53 "Multiple frameworks UI change"
Would something like this be welcomed?

![image](https://cloud.githubusercontent.com/assets/1309622/10498052/a94cfdfe-7286-11e5-8530-938153cdacb3.png)

[2015-10-15 07:54] andreasohlund commented on #53
Yes please :heart:

[2015-10-18 03:38] SeanFeldman commented on #53
### Modification

- [ ] Emit extra html for tabs and static CSS for styling
- [ ] Fallback to original rendering if CSS is missing (offline HTML w/o CSS)

[Sample data](http://apicomparer.particular.net/compare/EntityFramework/6.0.0...6.1.3)
[Preview](http://codepen.io/heyvian/pen/vNeXeO)

[2015-10-21 07:39] #53 closed

[2015-12-31 09:26] andreasohlund opened #57 "Better highlight removed and new targets"
The tabbed view that @SeanFeldman added does work but it would be nice if we can improve the visiblity of new and/or removed targets.

Example where the rabbit client dropped net40 support and added netcore45 support

http://apicomparer.particular.net/compare/rabbitmq.client/3.5.0...3.6.0

[2015-12-31 16:47] SeanFeldman commented on #57
@andreasohlund color-code those tabs or introduce some icons?

[2015-12-31 21:47] andreasohlund commented on #57
Color code seems like a quick win for now?

[2016-01-07 15:02] Mpdreamz commented on #51
+1 would love to see the console version on nuget

[2016-01-07 15:15] Mpdreamz opened #58 "Add a license to the repos"
Would love to see a license file.

I can then deduce whether or not I am allowed to use/contribute to this awesome tool :smile:

[2016-01-08 07:41] andreasohlund commented on #58
Fixed in https://github.com/ParticularLabs/APIComparer/commit/bdecb959228f5b101833afba8cb215e636a64e02

(MIT)

[2016-01-08 07:41] #58 closed

[2016-01-08 08:00] andreasohlund commented on #51
Wouldn't chocolatey be more appropriate since its an "app" ?

[2016-01-08 08:37] Mpdreamz commented on #51
Not a big purist but most build related tools end up on nuget (xunit console, paket, gitlink) where as chocolatey is more for desktop app / services IMO :smile:

[2016-01-08 08:39] andreasohlund commented on #51
Fair enough, not having to bother with the approval mess that comes with chocolatey would be a win

[2016-01-08 12:07] devlead commented on #51
@andreasohlund @Mpdreamz +1 for nuget, as it's almost always available in the build tool chain (i.e. Cake build scripts has "native" support for fetching tools via Nuget). Nothing stopping you from doing both though. Chocolatey is great for the dev machine or when you want it to be available globally.

[2016-01-11 04:50] SeanFeldman commented on #57
+1

[2016-01-28 17:40] SeanFeldman opened #59 "Falsely reported removed methods"
Running APIComparer against WindowsAzure.Storage version 4.3.0 and 6.2.0 reported that `Microsoft.WindowsAzure.Storage.Blob.CloudBlockBlob` had `void RenewLease(Microsoft.WindowsAzure.Storage.AccessCondition, Microsoft.WindowsAzure.Storage.Blob.BlobRequestOptions, Microsoft.WindowsAzure.Storage.OperationContext)` removed, but it's there.

Repro:

http://apicomparer.particular.net/compare/WindowsAz

[2016-01-28 23:38] SeanFeldman commented on #59
False alarm.
VS fault https://support.microsoft.com/en-us/kb/2832705

[2016-01-28 23:38] #59 closed

[2016-01-28 23:38] SeanFeldman commented on #59
@dbelcham Thanks!

[2016-02-19 17:03] SeanFeldman opened #60 "When a package is not found, UI doesn't get updated."
Repro:

http://apicomparer.particular.net/Compare/NHibernate/3.0.1.4000...4.0.4.4000

Output is constantly

[code]

Exception thrown by handler:

[code]
and later
[code]

File system with the file placeholder:
![image](https://cloud.githubusercontent.com/assets/1309622/13182633/ed4eb9c0-d6ef-11e5-916b-3237e96212c8.png)

We could dogfood SP ;)

/cc @DavidBoike

[2016-02-22 09:16] andreasohlund commented on #60
We should have the backend update that doc with a "not found" message once we get a response for NuGet. Another option would be to check with NuGet if we can't find an existing comparision

[2016-02-23 17:37] SeanFeldman commented on #60
@andreasohlund I'm planning to generate a content file for a failing comparison with the exception data for now as a quick fix. Would that fly?

[2016-02-23 17:45] andreasohlund commented on #60
Sounds resonable, :shipit:

[2016-02-26 10:00] andreasohlund commented on #60
Dosn't work on preview

http://apicomparer-preview.particular.net/compare/nservicebuseeee/5.0.0...5.1.3

perhaps the auto deploy isn't working?

[2016-02-27 00:56] SeanFeldman commented on #60
I'll look into that

[2016-02-27 20:51] SeanFeldman commented on #60
@andreasohlund remind me the flow - whenever we push to master it goes to preview and production is published manually?

[2016-02-28 01:38] SeanFeldman opened #63 "GitVersionTask fails to tag master"
Looks like PRs are getting a correct number, but when it's applied to `master`, something goes wrong. I've updated `GitVersionTask` from 3.0.0-beta to the latest and behavior is still the same.

![image](https://cloud.githubusercontent.com/assets/1309622/13376780/d0470fd4-dd80-11e5-9aea-2d37b4c2488a.png)

PR (#62) when merged into the `master` should generate tag 0.1.62, instead it's stuck on 0.1.

[2016-02-28 01:39] SeanFeldman commented on #60
This is not specific to this issue, but related to `GitVersionTask` [issue here](https://github.com/ParticularLabs/APIComparer/issues/63). Closing this one and opening [new issue #63](https://github.com/ParticularLabs/APIComparer/issues/63)

[2016-02-28 01:39] #60 closed

[2016-02-28 01:42] SeanFeldman commented on #63
Emitted by TC on the failure:

Labeling failed for root 'GitHub.Master.PR'.
More details on[ build results page](https://builds.particular.net/viewLog.html?buildId=148861&buildTypeId=Tooling_APIComparer_1Build)

jetbrains.buildServer.vcs.VcsException: Labeling failed: org.eclipse.jgit.api.errors.RefAlreadyExistsException: tag 'Tag={ object 59202f5881e81cd9d741f39dab5c86e8943232cb type commit tag 0

[2016-02-28 08:44] andreasohlund commented on #63
We need to turn on continous deployment mode - https://gitversion.readthedocs.org/en/latest/reference/continuous-deployment/

I think we where relying on TC auto tagging in the past

[2016-02-28 08:45] andreasohlund commented on #63
And if that works we can turn auto tagging off in TC

[2016-03-05 20:50] SeanFeldman commented on #63
Need help - not sure how to specify the `mode` to the msbuild task.

[2016-03-06 13:24] andreasohlund commented on #63
Not sure either, probably by setting some "mode" property
https://gitversion.readthedocs.org/en/latest/usage/msbuild-task/

On Sat, Mar 5, 2016 at 9:50 PM, Sean Feldman <notifications@github.com>
wrote:

[2016-03-07 04:46] SeanFeldman commented on #63
Looks like there's a bug with this https://github.com/GitTools/GitVersion/issues/728

[2016-03-07 06:43] SimonCropp commented on #63
@SeanFeldman can u monkey patch the dll with the code from here https://github.com/GitTools/GitVersion/issues/728#issuecomment-172325678 ?

[2016-03-07 07:36] SeanFeldman commented on #63
@SimonCropp yes, that works. How would you suggest to include that as a nuget package?

[2016-03-07 08:38] SimonCropp commented on #63
@SeanFeldman i think if u have verified the fix it would be enough to ping @JakeGinnivan to let him know

[2016-03-08 05:24] SeanFeldman commented on #63
@SimonCropp I tried to verify it and results are inconclusive. Any chance you could try as well? Thank you.

[2016-05-03 11:30] andreasohlund commented on #63
This is fixed now (we no longer need tagging)

[2016-05-03 11:30] #63 closed

[2016-05-03 11:33] andreasohlund opened #68 "Do not show removed fields and members if they have no explicit obsoletes on them"
Example from the exe:

[code]
In the above example showing the removed fields adds no value since the type is obsoleted with error anyway

[2016-05-20 17:24] bording opened #69 "APIComparer not showing changes to interfaces"
While comparing the changes in the latest RabbitMQ client, it appears that APIComparer is missing some of the changes that were made:

http://apicomparer.particular.net/compare/RabbitMQ.Client/3.6.1...3.6.2

Here is the comparison of what all was changed between 3.6.1 and 3.6.2:

https://github.com/rabbitmq/rabbitmq-dotnet-client/compare/rabbitmq_v3_6_1...rabbitmq_v3_6_2

For example, there was a

[2016-05-20 18:33] andreasohlund commented on #69
We haven't been showing additions since we always considered them non breaking changes. But interfaces is interesting since additions would be be non breaking for consumers but breaking for implementors. @ParticularLabs/apicomparer thoughts?

[2016-05-20 19:20] bording commented on #69
Given that one scenario around public interfaces is allowing you to provide your own implementation of the interface, I'd vote for including them as a potential break.

[2016-05-20 23:14] SeanFeldman commented on #69
Tend to agree with Brandon.

[2016-05-21 00:01] SimonCropp commented on #69
yeah i think it is a breaking change. that and additional abstract members

[2016-05-21 05:48] andreasohlund commented on #69
Makes sense to me, that was a nice find. Always had the mental model that "adding is always safe", thanks for the wake up call @bording

[2016-06-28 13:39] andreasohlund opened #70 "AutoMapper 4.2.1...5.0.0 blows"
http://apicomparer-preview.particular.net/compare/AutoMapper/4.2.1...5.0.0

[code]

cc @jbogard

[2016-06-28 13:55] devlead commented on #70
Interestingly I got a similar error with newly released Newtonsoft.Json 9.0.1 but 8.0.3 works.

[2016-06-28 14:01] andreasohlund commented on #70
net core?

[2016-06-28 14:16] jbogard commented on #70
Net Standard library perhaps too.

On Tue, Jun 28, 2016 at 9:01 AM, Andreas Öhlund <notifications@github.com>
wrote:

[2016-06-28 14:18] devlead commented on #70
9.0.1
![image](https://cloud.githubusercontent.com/assets/1647294/16418833/ca1b723c-3d4b-11e6-892e-a5b205c30c45.png)

8.0.3
![image](https://cloud.githubusercontent.com/assets/1647294/16418867/ee3ef3a0-3d4b-11e6-8ab7-5f34afbc2568.png)

There's 1 new folder, seems to give issues on mono too.

[2016-06-28 14:24] devlead commented on #70
NuSpec a bit beefer now gone from
[code]
to
[code]

[2016-06-28 14:27] andreasohlund commented on #70
`'AutoMapper' already has a dependency defined for 'Microsoft.CSharp'.` => pretty sure that error comes from Mono.Cecil

[2016-06-28 14:29] devlead commented on #70
Hmm checking reference it has difference target framework syntax i.e. (`<group targetFramework="net20">`, `<group targetFramework="net40">`, `<group targetFramework="net45">`, etc. similar to the folder structure)
https://docs.nuget.org/create/nuspec-reference

[2016-06-28 14:35] devlead commented on #70
Automapper less difference basically
`<group targetFramework=".NETPlatform5.1">` went to `<group targetFramework=".NETStandard1.1">` and `<group targetFramework=".NETStandard1.3">`

[2016-06-28 15:15] andreasohlund commented on #70
Actually, wonder if this is a nuget issue, I'll try to update to latest nuget.core

[2016-06-28 15:24] devlead commented on #70
Could be that you need nuget3 now, which nuget core doesn't support.

[2016-06-28 15:24] andreasohlund commented on #70
updating to latest nuget seemed to fix it locally

[2016-06-28 16:00] andreasohlund commented on #70
Shit, issue is still there http://apicomparer-preview.particular.net/compare/AutoMapper/4.2.0...5.0.0

json.net does work now though

http://apicomparer-preview.particular.net/compare/newtonsoft.json/8.0.3...9.0.1

[2016-09-22 18:09] DavidBoike opened #72 "Unknown custom metadata item kind: 7"
See http://apicomparer.particular.net/compare/RavenDB.Client/3.0.30155...3.5.0-rc-35169

[2016-09-22 18:44] andreasohlund commented on #72
Verified that this works locally. Wonder if have some stuff installed that makes this work?

[2016-09-23 14:06] andreasohlund commented on #72
Works now, the nuget update we did a while back was the fix but the deploy was broken

[2016-09-23 14:06] #72 closed

[2016-09-23 14:10] andreasohlund commented on #70
@jbogard this is now fixed

http://apicomparer.particular.net/compare/AutoMapper/4.2.1...5.0.0

it was the nuget update that fixed it but our deploy was broken at that time. This is fixes so we're all good

[2016-09-23 14:10] #70 closed

[2016-09-24 08:26] andreasohlund opened #74 "Smarter expansion when versions can't be found"
http://apicomparer.particular.net/compare/NServiceBus/5.2.16...6.0.0-RC2

could potentially expand to

http://apicomparer.particular.net/compare/NServiceBus/5.2.16...6.0.0-rc0002

[2016-09-29 09:39] andreasohlund opened #75 "Nuget versions should be case insensitive"
Eg: http://apicomparer.particular.net/compare/NServiceBus/5.2.16...6.0.0-RC0003 fails since the package is called rc0003

[2016-09-30 04:14] SeanFeldman commented on #75
Just nuget version of the whole nuget package name?

[2016-09-30 06:15] andreasohlund commented on #75
Good point, I guess the whole thing

[2016-09-30 06:16] SeanFeldman commented on #75
then #76 needs that update :) I wasn't sure about package name

[2016-09-30 06:18] andreasohlund commented on #75
package names are already ok as it seems

http://apicomparer.particular.net/compare/nservicebus/5.2.13...6.0.0-rc0003

works

[2016-10-11 17:58] SeanFeldman opened #77 "Force comparison and remove stale result"
API comparer results could be broken due to nuget not available but results cached. Example ```NServiceBus.Azure.Transports.WindowsAzureServiceBus comparison between 6.4.0 and 7.0.0 has failed with the following error: Unable to find version '7.0.0' of package 'NServiceBus.Azure.Transports.WindowsAzureServiceBus'.```

[2016-10-26 19:25] SeanFeldman opened #79 "Detailed changes report"
This is just a suggestion.
Was looking how .NET Core created their API changes and it was very interesting way of leveraging .md with GitHub.

https://github.com/dotnet/core/blob/master/release-notes/1.1/1.0-1.1-api-diff/1.0-1.1-api-diff_System.Composition.Convention.md

[2016-10-27 06:05] andreasohlund commented on #79
Cool, we have all the info to generate similar .md files so this should be doable

[2016-10-27 19:37] andreasohlund opened #80 "Build breaks on r# validation failures in the webjobs settings file"
https://builds.particular.net/viewLog.html?buildId=193821&tab=Inspection&buildTypeId=Tooling_APIComparer_1Build

Not sure why this is happening now

[2016-10-28 05:04] SeanFeldman commented on #80
Hmm, looks like R# code inspection is drunk. It fail on analysis of files it shouldn't have analysed to begin with.

[2016-10-28 09:35] gbiellem commented on #80
nah it's not drunk - R# now validates js and json on the build server since the TC 10 update.  We'll need to adjust the dotsettings file to exclude them in the solution or fix the underlying issue it's found

[2016-10-29 06:57] andreasohlund commented on #80
Fixed by https://github.com/ParticularLabs/APIComparer/commit/e1a929f4af6390717d10cda741733ed25e769f88

[2016-10-29 06:57] #80 closed

[2017-03-28 06:41] andreasohlund opened #81 "Detect renamed parameters"
Since renaming is a breaking change

Eg. https://github.com/Particular/NServiceBus/pull/4581#pullrequestreview-29367345

[2017-12-19 11:14] ramonsmits opened #82 "OutOfMemoryException on http://apicomparer.particular.net/compare/unity/5.3.2...5.4.0"
Getting an out of memory exception on http://apicomparer.particular.net/compare/unity/5.3.2...5.4.0

[2017-12-19 12:29] andreasohlund commented on #82
I'll take a look

[2017-12-29 12:59] ramonsmits commented on #82
I also have it with http://apicomparer.particular.net/compare/unity/5.3.2...5.5.0

[2018-01-18 07:29] andreasohlund opened #83 "http://apicomparer.particular.net/compare/nservicebus/6.4.3...7.0.0-beta0001 blows up"
nservicebus comparison between 6.4.3 and 7.0.0-beta0001 has failed with the following error: An attempt was made to move the file pointer before the beginning of the file.

Think I have fixed this on master but we need to get the deployment working again

[2018-01-19 07:35] andreasohlund opened #84 "Support for semver2 style versions"
http://apicomparer.particular.net/compare/openrasta-core/2.5.2001...2.6.0-preview.1 blows up with

[code]

[2018-01-19 08:08] andreasohlund commented on #82
Works on the latest version

http://apicomparer-preview.particular.net/compare/unity/5.3.2...5.5.0

I'll try to update it

[2018-01-20 09:27] andreasohlund commented on #83
Site updated, this now works

[2018-01-20 09:27] #83 closed

[2018-01-20 09:28] andreasohlund commented on #82
site updated, this now works

Side note: We need to now and then clean failed comparisons to retry them, will raise an issue

[2018-01-20 09:28] #82 closed

[2018-01-20 09:29] andreasohlund opened #85 "Clean failed comparisons"
Eg https://github.com/ParticularLabs/APIComparer/issues/82

To make sure transient failures won't cause the comparison to fail permanently

Current workaround is to run

`(Get-ChildItem *.html | Select-String -Pattern "failed with the following" | Select-Object -ExpandProperty path -Unique) | ForEach-Object{Remove-Item -Force -LiteralPath $_} `

Periodically

[2018-02-18 10:28] serialseb commented on #84
I tried looking into this a bit more, and it seems `Nuget.Core` is abandonware. Updating to the 4.x packages seems to be rather complex, and a quick 20 minutes didn't get me anywhere.

[2018-02-18 14:30] andreasohlund commented on #84
Thanks for the research Seb, I’ll do some digging on my end as well
On Sun, 18 Feb 2018 at 11:28, Sebastien Lambla <notifications@github.com>
wrote:

[2018-03-07 19:32] DavidBoike opened #86 "Report doesn't catch removed virtual properties as breaking change"
In the ApprovalTests NuGet package, this change removed a virtual from a public type's public property in the 3.0.14 release:

https://github.com/approvals/ApprovalTests.Net/commit/6d75f8767b9b052541813906965b5d2090780add#diff-5c97d4e883fa80b2a2a6abb36842bbeaL32

However it's not listed in the report:
http://apicomparer.particular.net/compare/ApprovalTests/3.0.13...3.0.14#.NETFramework,Version=v4.

[2018-08-15 12:41] #30 closed